/*
Colour Palette

*/

/* Global styles
---------------------------------------------*/

  /* Home-Header
  ---------------------------------------------*/
  .logo{
      width: 25%;
      height: 25%;
      margin-left: 10px;
  }
  header{
    background-color: #4f1752ff;
    border-bottom: groove black;
    height: fit-content;
  }
  body{
    background-color: #8e53a1ff;
  }
  .btn-group{
   font-family: 'Poppins', sans-serif;
   float: right;
   margin: 20px;
   width: 200px;
   height: 30px;
   top: 5px;
   margin-top: 34px;
   cursor: pointer;
   display: block;
   position: relative;
   background-color: #fff;
   color: #8e53a1ff;
   border: none;
   border-radius: 4px;
  }
.btn-danger {
   color: #8e53a1ff;
   background-color: white;
   border: none;
   forced-color-adjust: white;
  }
.data {
  display: none;
  font-family: 'Poppins', sans-serif;
  color: #8e53a1ff;
  margin-left: 40%;
}
.g-signin2 {
  position: static;
  top: 50%;
  left: 50%;
  display: none;
  visibility: hidden;
}
#name{
  position: absolute;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-left: -6.25%;
  margin-top: 0.666%;
}
  /* Home-Navbar
  ---------------------------------------------*/
  .topnav {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    background-color: #753b76ff;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07)
  ;
  border-bottom: groove black;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1rem 5rem;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: #4f1752ff;
  }
  
  .topnav a.active {
    background-color: #4f1752ff;
    color: white;
  }

  /* Home-Body
  ---------------------------------------------*/
  .welcome h1 {
    font-family: 'Poppins', sans-serif;
    width: 50px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 4rem;
    position: absolute;
    color: white;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  }
  .welcome h2 {
    font-family: 'Poppins', sans-serif;
    width: 50px;
    margin-left: 60px;
    font-size: 1rem;
    position: absolute;
    margin-top: 90px;
    color: white;
  }
  .welcome{
    margin-bottom: -0.60%;
  }
  .flex-container {
    display: flex;
    background-color: #8e53a1ff;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07)
  ;
  height: 100%;
  margin-top: 1.75%;
}

.flex-child {
    flex: 1;
}  

.flex-child:first-child {
    margin-right: 0px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07)
  ;
  height: 100%;
} 
html{
  height: 100%;
}
.sales{
  margin-left: 30px;
  font-family: 'Poppins', sans-serif;
  color: white;
}
.sales-content{
  margin-left: 25%;
  margin-top: 5%;
}
.sales-image{
  border-radius: 8px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07)
;
}
.sales-image:hover{
  border-radius: 8px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07)
;
opacity: 75%;
cursor: pointer;
}
.flex-child:last-child {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07)
;
}  
#myVideo {
  width: 100%;
  height: 110%;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07)
;
}
.salesheader{
  margin-top: 10px;
  font-size: 4rem;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
  /* Home-Footer
  ---------------------------------------------*/
  .content-wrap .links{
    width: 50px;
    margin-left: 75px;
    margin-right: 75px;
  }
  footer a{
    line-height: 0% !important;
    color: black !important;
    font-size: 0%;
    display: inline-block;
  }
  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #fff;
    background-color: black;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  }
  /* Other
  ---------------------------------------------*/

  *, *::after, *::before {
    box-sizing: border-box;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }